<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            /*background-image: url("background3.jpg");*/
            background-repeat: no-repeat;
            background-size: 100%;
            background-color:azure;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 200px;
            top: 150px;
            color: white;
        }
        .container3 {
            position: fixed;
            left: 350px;
            top: 150px;
            color: white;
        }
        .wanttogo {
            position: fixed;
            left: 80px;
            top: 370px;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
    <script>
        function submitted(){
            window.alert("A report with current data and page was Submitted Successfully!");
            var x = document.getElementById("myBut");
            if (x.style.display === "none") {} 
            else {
                x.style.display = "none";
            }
        }

    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Error</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
        <div>
            <h4 style="padding-top: 50px; padding-left: 30px;">The Page you are trying to send is unavailable. If you think this is an error Click Report</h4>
            <div class="center">
                <button id="myBut" type="button" class="btn btn-primary" onclick="submitted();">
                    Report
                </button>
            </div>
            <br>
            <img src="https://img.freepik.com/premium-vector/404-error-design-with-broken-robot_23-2147730666.jpg?w=740" class="rounded mx-auto d-block" alt="Error" width="500" height="400">
            <br>
            <a href="/" class="center" ><button type="button" class="btn btn-danger position-absolute top-50 start-50 translate-middle">Go back to home page</button></a>

        </div>
    </div>

</body>
</html>