<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("background2.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cont {
            position:relative;
            left:600px;
            top:50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Registration</h1>
    </div>
    <div class="cont">
        <!-- <form method='post' action='/registration' onsubmit="myFunction()"> -->
        <form method='post' action='/registration'>
            Username: <br>
            <input type="text" id="user" name="username" required> <br>
            Password: <br>
            <input type="password" id="password" name="password" required><br> <br>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Register"> <br>
            <!-- <button onclick="myFunction()">Register</button> -->

            <script>
            function myFunction() {
                alert("You have successfully registered!");
            }
            </script> 

        </form>
        <br>

        <% if (locals.message)  {%>
            <h6 style="color: rgb(236, 45, 45);"><%=message%></h6>
        <%}%>
        <br>
    </div>
</body>

</html>

<!-- <form name="myform" action="#" onsubmit="return run_this_function()" method="post">
  
    Full Name:<br>
    <input type="text" name="fullname" id="fullname"><br/>
    
    Phone number:<br>
     <input type="text" name="phone" id="phone"><br/>
    <input type="submit" value="Submit">
    
  </form> -->